<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>stopNumber</key>
		<integer>1</integer>
		<key>title</key>
		<string>Golden Gate Bridge</string>
		<key>latitude</key>
		<real>37.81847</real>
		<key>longitude</key>
		<real>-122.47843</real>
	</dict>
	<dict>
		<key>stopNumber</key>
		<integer>3</integer>
		<key>title</key>
		<string>Alcatraz Island</string>
		<key>latitude</key>
		<real>37.82687</real>
		<key>longitude</key>
		<real>-122.42317</real>
	</dict>
	<dict>
		<key>stopNumber</key>
		<integer>4</integer>
		<key>title</key>
		<string>Coit Tower</string>
		<key>latitude</key>
		<real>37.80238</real>
		<key>longitude</key>
		<real>-122.40593</real>
	</dict>
	<dict>
		<key>stopNumber</key>
		<integer>5</integer>
		<key>title</key>
		<string>Ferry Building</string>
		<key>latitude</key>
		<real>37.79534</real>
		<key>longitude</key>
		<real>-122.39371</real>
	</dict>
	<dict>
		<key>stopNumber</key>
		<integer>2</integer>
		<key>title</key>
		<string>Palace of Fine Arts</string>
		<key>latitude</key>
		<real>37.80298</real>
		<key>longitude</key>
		<real>-122.44798</real>
	</dict>
	<dict>
		<key>stopNumber</key>
		<integer>6</integer>
		<key>title</key>
		<string>Sutro Tower</string>
		<key>latitude</key>
		<real>37.75546</real>
		<key>longitude</key>
		<real>-122.45243</real>
	</dict>
</array>
</plist>
